<h1>Tasks#new</h1>
<%= render 'form' %>


<!-- <form action="/tasks" method="post">
  <label for="title">Titile: </label>
  <input type="text" name="task[title]" id="title">

  <label for="detail">Datail: </label>
  <input type="text" name="task[detail]" id="detail">

  <input type="submit">
</form> -->
